@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap|Open+Sans:wght@300');


*{
    border:0;
    margin: 0;
    padding:0;
}

html{
    position:relative;
    min-height: 100%;
}

body{
   background-color: #f5f3f5; 
   font-family: "Open Sans", sans-serif;
   
}

/* -------------------navigation bar with logo image
the orginal code is taken from : https://www.youtube.com/watch?v=bIlqqzI4ByE&t=281s ---*/

header{
    background-color: #578368;
    color: #e580a4;
    display: inline-block;
    height: 100px;
    /*font-size: large;
    /*padding: 20px 20px;*/
    position: relative;  
    width:100%;
    
}

p{
    color: #1f3b2c;
}


.turbo-guide-logo{
    float: left;
}

.hero-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    width: 100%;
}



.toggle-btn{
    display:none;
    position: fixed;
    height: 80px;
    right: 50px;
    top: 18px;
    width: 60px;
}

.toggle-btn span{
    background-color:#e580a4;
    display:inline-block;
    height: 2px;
    margin-bottom: 5px;
    width: 100%;
}


a{
    margin-left:15px;
    text-decoration: underline;
    color:#e580a4;
}

a:hover {
    color: #f5f3f5;
    font-weight: 600;
}

nav{
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    color:  #e580a4;
    font-weight: 400;
}  

/*img {
    vertical-align: bottom;
    border-style: none;
}*/
@media (max-width: 991px){
    .toggle-btn {
        display: block;
    }

    nav{
        border-top: 1px solid #e580a4;
        display: none;
        padding-top: 20px;
        margin-top: 30px;

    }
}
/*-----------------carousel with 5 photos

.carusel-container{
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
    background-color: #e580a4;
    height: 500px;
    width: 100%;
}----*/

/*---------------map-----------*/

/*Set the size of the div element that contains the map */

div#map{
    min-height: 360px;
} 

#map {
    height: 400px;
    width: 100%;

}





/*--------------------footer-------*/

footer{
    background-color: #588068;
    bottom:0;
    color: #e580a4;
    display:inline-flex;
    font-weight: 400;
    height: 100px;
    left:0;
    position: absolute;  
    width:100%;
}
.social-links{
    
    
    color:#e580a4;
}


